.main-navbar {
  background-color: #062f57;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 40px;
}

.nav-left {
  list-style: none;
  display: flex;
  gap: 26px;
}

.nav-left li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.nav-left li a:hover {
  text-decoration: underline;
}

.login-btn {
  background-color: #0b4d8a;
  color: white;
  border: none;
  padding: 8px 18px;
  border-radius: 6px;
  cursor: pointer;
}
